.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin:0px;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-color-yellow{
  background-color: #ffff8b;
}

.m-50{
  margin: 50px;
}

.m-10{
  margin: 10px;
}

.mtop-3{
  margin-top: 3rem;
}

.mbot-3{
  margin-bottom: 3rem;
}

.bd-rad5{
  border-radius: 5rem;
}

.bd-rad2{
  border-radius: 2rem;
}

.bg-color-orange{
  background-color: #FE6949;
}

.bg-color-a{
  background-color: #5eddf3;
}

.wd-50{
  width: 50%;
}

button{
  width: 10rem;
  height: 2rem;
}

.fd-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
